# Lists: 
"• ,
• ,
• ,
• List Operations,
• ,
• List Methods,
• Map, Filter, and Reduce,
• ,
• ,
• Objects and Values,
• Aliasing,
• List Arguments,

In [1]:
lst = [1,2,3,4,5,6,7,8]
type(lst)

list

In [2]:
# remove method
lst.remove(4)
lst

[1, 2, 3, 5, 6, 7, 8]

In [4]:
lst.pop(0)

2

In [5]:
a=lst.pop(0)
lst,a

([5, 6, 7, 8], 3)

In [6]:
lst
lst.insert(3,45)
lst

[5, 6, 7, 45, 8]

In [7]:
lst.append(56)
lst

[5, 6, 7, 45, 8, 56]

In [8]:
lst.sort()
lst.reverse()
lst

[56, 45, 8, 7, 6, 5]

In [9]:
lst.index(45,1,5)

1

In [11]:
lst.index(56,1,5)

ValueError: 56 is not in list

In [12]:
lst.count(7)

1

In [78]:
[0] * 3

[0, 0, 0]

In [79]:
# List as a Sequence
lst = [1,2,3,"a"]
type(lst)

list

In [80]:
# Traversing a List

In [81]:
# index of lists starts with 0 and not 1
print(lst[3])

a

In [82]:
# index in reverse order starts with -1
print(lst[-1])

a

In [83]:
# this will fetch the 4th element starting from the last one
print(lst[-4])

1

In [84]:
# List Slices
# slicing of lists, including first element mentioned, go on until the last one (excluding)
# including 0 i.e. first element, go on till 2 i.e. third element excluding so until second element 
lst[::-1]

['a', 3, 2, 1]

In [85]:
# similarly using reverse index
lst[-3:-2]

[2]

In [86]:
# missing first element means start from the first element
lst = [1,2,3,"a"]
lst[:]

[1, 2, 3, 'a']

In [87]:
# missing the second element means until end of the list
lst[1:]

[2, 3, 'a']

In [88]:
# concatenate operation
# This will generate error as + operator with a list expects another list operand
lst + 2

TypeError: can only concatenate list (not "int") to list

In [89]:
# add elements to the list
lst + [4,5]

[1, 2, 3, 'a', 4, 5]

In [90]:
# Deleting Elements

In [91]:
tryThis4Fun = [0,1,2,-1,-2]
# delete 0 and the negative values in one go
del(tryThis4Fun[0])
del(tryThis4Fun[2:3])
tryThis4Fun

[1, 2, -2]

In [92]:
# remove select element "a"
lst = [1,2,3,"a"]
del(lst[3])
lst

[1, 2, 3]

In [93]:
# insert at a specific position, here -2 is inserted at the start of the list
lst.insert(0,-2)
lst

[-2, 1, 2, 3]

In [94]:
# display values of a list
list(lst)

[-2, 1, 2, 3]

In [95]:
# assignment of list
x = [1,2,3,4]
y = x
y[0]=7
# does this impact x?
print('x contains' + str(list(x)))
print('y contains' + str(list(y)))
# uh oh, it does. so how do we avoid this?

x contains[7, 2, 3, 4]
y contains[7, 2, 3, 4]

In [96]:
X = [1,9,4,7]
list(X)

[1, 9, 4, 7]

In [97]:
Y

NameError: name 'Y' is not defined

In [98]:
x = [1,2,3,4]
y = list(x)
y[0] = 7
print('x contains' , str(list(x)))
print('y contains' , str(list(y)))

x contains [1, 2, 3, 4]
y contains [7, 2, 3, 4]

In [15]:
x = [1,2,3,4]
y = (x)
y[0] = 7
print('x contains' , str(list(x)))
print('y contains' , str(list(y)))

x contains [7, 2, 3, 4]
y contains [7, 2, 3, 4]

In [99]:
# Python Lists use addressing based on pointers, this applies to arrays and lists and not to atomic objects
# let's check this for atomic objects (like int)
m = 5
n = m
n = 1
print('m is ' + str(m))
print('n is ' + str(n))

m is 5
n is 1

In [100]:
# repetition
# operators change behavior with the variable type, try * with a list
lst * 2

[-2, 1, 2, 3, -2, 1, 2, 3]

In [101]:
# Mutability of Lists
# updating list elements, here is a replace example
lst = [1,2,3,4,5,6,7,8,9,10]
lst[2] = 12
lst

[1, 2, 12, 4, 5, 6, 7, 8, 9, 10]

In [102]:
# replace 6th to end of sequence elements with a shorter list 
lst.insert(2,[100,2])
lst

[1, 2, [100, 2], 12, 4, 5, 6, 7, 8, 9, 10]

In [103]:
lst[6:]=[101,102,103]
lst

[1, 2, [100, 2], 12, 4, 5, 101, 102, 103]

In [104]:
# list with lists as elements
lstolst = [[1,2],[3,4],[5,"a"]]
type(lstolst)

list

In [105]:
print(lstolst)

[[1, 2], [3, 4], [5, 'a']]

In [106]:
# fetch an elements from the list of list
lstolst[1]
# so how can we fetch the '4' within the sublist?

[3, 4]

In [107]:
# treat lstolst like a list and then append [1] to get the second element
lstolst[1][1]

4

Lists and Strings
-----------------
A string is a sequence of characters. A list a sequence of values which can be characters, integers or even another list 
Strings are immutable. 
When using strings, bracket operators cannot be used on the left side of an assignment with the intention
of changing that string.
Lists are mutable. Unlike strings, you can use the bracket operator on the left side of the assignment to change 
an element in a given list.

In [108]:
list operators: in, not in, len

SyntaxError: invalid syntax (2061537831.py, line 1)

In [109]:
# in operator
txt = ["This", "is", "a", "fun", "learning", "Python"]
"Python" in txt

True

In [110]:
"Java" not in txt

True

In [111]:
# how many elements are in this list?
len(txt)

6

In [112]:
txt4 = "whats up?"
len(txt4)

9

In [113]:
txt = ["This", "is", "a", "fun", "learning", "Python"]
# iteration
for i in txt:
    print(i)

This
is
a
fun
learning
Python

In [114]:
# remember how string iteration happened also:
list_gm = []
greeting = "good morning"
for i in greeting:
    print(i)
    list_gm.append(i)

g
o
o
d

m
o
r
n
i
n
g

In [115]:
list_gm

['g', 'o', 'o', 'd', ' ', 'm', 'o', 'r', 'n', 'i', 'n', 'g']

In [116]:
# sort a list

scores = [1,3,2,4,6,0]
copy_scores = list(scores)
scores.sort()
'new_scores', scores

('new_scores', [0, 1, 2, 3, 4, 6])

In [117]:
type(scores)

list

In [118]:
copy_scores

[1, 3, 2, 4, 6, 0]

In [119]:
# comparing lists is a fun topic. depending on how you formulate the question the answers can be very different and interesting.
# one question is, are the lists exactly the same?
# do the lists contain the same values, may not be in same order
# does one list contain all the values from the other? i.e. one list is a subset of the other
# what if upper or lower case does not matter? and we want to compare?
# what if we want to ignore all numbers and just compare the text elements of lists?

In [120]:
# compare lists
txt1 = ["Python", "is", "the", "best",'best']
txt2 = ["PYTHON", "is", "the", "best"]
txt3 = ["Python", "is", "the", "best"]

In [121]:
txt1 == txt2, txt1 == txt3

(False, False)

In [122]:
str(txt1).lower()==str(txt2).lower()

False

In [123]:
set(txt1), set(txt2)

({'Python', 'best', 'is', 'the'}, {'PYTHON', 'best', 'is', 'the'})

In [124]:
type(set(txt1))

set

In [125]:
set(txt1) & set(txt2)

{'best', 'is', 'the'}

In [126]:
set(txt1) & set(txt3)

{'Python', 'best', 'is', 'the'}

In [127]:
set(txt1)

{'Python', 'best', 'is', 'the'}

The collections.Counter() class can be used to compare lists. The counter() function counts the frequency of the items in a list and stores the data as a dictionary object in the format value:frequency. If two lists have the same dictionary output, you can infer that the lists are the same.

# note: dictionary type will be covered in a separate session. for now just see it as a name:value pairs

In [1]:
import collections

l1 = [10, 20, 30, 40, 50,10]
l2 = [10, 20, 40, 30, 50,10]
l3 = [50, 20, 30, 40, 10]

if collections.Counter(l1) == collections.Counter(l2):
    print ("The lists l1 and l2 are the same")
else:
    print ("The lists l1 and l2 are not the same")

if collections.Counter(l1) == collections.Counter(l3):
    print ("The lists l1 and l3 are the same")
else:
    print ("The lists l1 and l3 are not the same")

The lists l1 and l2 are the same
The lists l1 and l3 are not the same

In [17]:
z=(collections.Counter(l1))
z

Counter({10: 2, 20: 1, 30: 1, 40: 1, 50: 1})

In [18]:
for x,y in z.items():
    print("value:",x,"occurs:",y,'times in the list ')

value: 10 occurs: 2 times in the list
value: 20 occurs: 1 times in the list
value: 30 occurs: 1 times in the list
value: 40 occurs: 1 times in the list
value: 50 occurs: 1 times in the list

In [19]:
l1 = [10, 20, 30, 40, 50,10]
for x in l1:
    l1.count(x)
    print("value:",x,"occurs:",l1.count(x),'times')

value: 10 occurs: 2 times
value: 20 occurs: 1 times
value: 30 occurs: 1 times
value: 40 occurs: 1 times
value: 50 occurs: 1 times
value: 10 occurs: 2 times

In [ ]:
l1 = [10, 20, 30, 40, 50,10]
value=0
count=0
for x in l1

In [130]:
# map and reduce is another way of comparing lists.
# https://www.digitalocean.com/community/tutorials/how-to-compare-two-lists-in-python

import functools

l1 = [10, 20, 30, 40, 50]
l2 = [20, 30, 50, 40, 70]
l3 = [10, 20, 30, 40, 50]

if functools.reduce(lambda x, y : x and y, map(lambda p, q: p == q,l1,l2), True):
    print ("The lists l1 and l2 are the same")
else:
    print ("The lists l1 and l2 are not the same")

if functools.reduce(lambda x, y : x and y, map(lambda p, q: p == q,l1,l3), True):
    print ("The lists l1 and l3 are the same")
else:
    print ("The lists l1 and l3 are not the same")

The lists l1 and l2 are not the same
The lists l1 and l3 are the same

In [18]:
# Exercises

# consider a list of numbers. get the sum, max, min of the values
l1 = [10, 20, 30, 40, 50]
sum(l1),max(l1),min(l1)

(150, 50, 10)

In [24]:
l1 = [10, 85, 95, 40, 50]
l2 = [10, 20, 30, 40, 50]
l3=l1+l2
max_val=0
for x in l3 :
        if x >max_val:
            max_val=x
max_val

95

In [25]:
c=0
for x in l1:
    if x>c:
        c=x
for y in l2:
    if y>c:
        c=y
c

95

In [26]:
l1 = [10, 85, 95, 40, 50]
l2 = [10, 20, 30, 40, 50]
c=0
for x in l1:
    for y in l2:
        if y>c:
            c=y
    if x>c:
        c=x
        
c

95

In [27]:
l1 = [10, 85, 95, 40, 50]
s=0
for x in l1:
    s=s+x
s

280

In [30]:
l1 = [10, 85, 95, 40, 50]
m=l1[0]
for v in l1:
    if v<m:
        m=v
m

10

In [31]:
l1 = [10, 85, 95, 40, 50]
s=0
for x in l1:
    s=s-x
s

-280

In [132]:
# create a list, parse the list and display only the unique values
l1=[10,10,20,20,30,40,40]
set(l1)

{10, 20, 30, 40}

In [133]:
# create a list, for each unique value, display how many times it appears in the list
# for e.g. [1,2,2,2,3,3,4,4,4,4,4] here 1 appears one time, 2 appears 3 times etc
l1=[1,2,2,2,3,3,4,4,4,4,4]
collections.Counter(l1)

Counter({1: 1, 2: 3, 3: 2, 4: 5})

In [140]:
a=list(set(l1))
for x in a:
    print(x,'appears',l1.count(x),'times')

1 appears 1 times
2 appears 3 times
3 appears 2 times
4 appears 5 times

In [84]:
# check if a list is empty
p=['']
len(p)

1

In [44]:
# remove any negative elements from a list

In [91]:
# a class of students just got their marks. create a list which stores their results as pass or fail. 
# so if the marks was an array, now you have a list which has same length and has results for student in same order.
marks=[40,30,20,50,60]
passfail_lst=[]
for i in range(len(marks)):
    if marks[i] >=40:
        passfail_lst.append('pass')
    else:
        passfail_lst.append('fail')
passfail_lst

['pass', 'fail', 'fail', 'pass', 'pass']

In [63]:
# create two lists. 
# take the first list, check if each of its values is present in the second list. display if a value is absent in the second.
l1=[1,2,3,4,5]
l2=[2,3,6,7,8]
l=10
a='tiya'
if l1==l2:
    True
else:
    for i in l1:
        if i not in l2:
            print(i)

1
4
5

In [64]:
p=[]
if l1==l2:
    True 
else:
    for x in l1:
        for y in l2:
            if x != y:
                p.append(x)
print(set(p))

{1, 2, 3, 4, 5}

In [118]:
l1=[10,20,30,40]
l2=[20,70,30]
for i in range(len(l1)):
    found=False
    for j in range(len(l2)):
        if l1[i]==l2[j]:
            found=True
            break
    if found:
            print(l1[i],'is present in second list')
            
    else:
            print(l1[i],'is absent in second list')

10 is absent in second list
20 is present in second list
30 is present in second list
40 is absent in second list

In [66]:
l1=[10,20,30,40]
l2=[20,70,30]
for i in l1:
    found=False
    for j in l2:
        if i==j:
            found=True
            break
    if found:
            print(i,'is present in second list')
            
    else:
            print(i,'is absent in second list')

10 is absent in second list
20 is present in second list
30 is present in second list
40 is absent in second list